html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

html,
body {
	height: 100%;
	position: relative;
	color: $black;
}

ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

ul,
li {
	list-style: none;
}

button:focus,
input:focus {
	outline: transparent;
}

/* .bg__grad {
	background: linear-gradient(180deg, #F6FFE8 19.36%, rgba(245, 251, 235, 0) 100%);
}
 */
/* .bg__grad--backwards {
	background: linear-gradient(-180deg, #F6FFE8 19.36%, rgba(245, 251, 235, 0) 100%);

} */

.container {
	max-width: 1330px;
	margin: 0 auto;
	padding: 0 15px;
}

.button {

	padding: 17px 50px;
	background: #FFD25D;
	border: none;
	border-radius: 100px;
	@extend %roboto-bold;
	font-size: 16px;
	line-height: 127.2%;
	box-shadow: 0 3px 0 #D7AA35;
	transition: all .3s;

	&:hover {
		background: #ebbb44;
	}
}

.title {
	@extend %notoSerif-bold;
	font-size: 30px;
	line-height: 41px;
	text-align: center;
}