%notoSerif-bold {
	font-family: "notoSerif-bold", serif;
	font-weight: 700;
}

%notoSerif {
	font-family: "notoSerif", serif;
	font-weight: 400;
}

%roboto-bold {
	font-family: "roboto-bold", sans-serif;
	font-weight: 700;
}

%roboto-medium {
	font-family: "roboto-medium", sans-serif;
	font-weight: 500;
}

%roboto-regular {
	font-family: "roboto-regular", sans-serif;
	font-weight: 400;
}

$black: #323232;