<footer class="footer">
	<div class="container">
		<div class="footer__inner">
			<div class="footer-item">
				<img class="footer__logo" src="images/logo-black.svg" alt="">
				<a class="footer__text" href="#">Соглашение на обработку
					персональных данных</a>
			</div>
			<div class="footer-item list__box">
				<ul class="footer__list">
					<li class="footer__list-item">
						<a class="footer__list-link" href="#">Галерея</a>
					</li>
					<li class="footer__list-item">
						<a class="footer__list-link" href="#">Каталог</a>
					</li>
					<li class="footer__list-item">
						<a class="footer__list-link" href="#">Отзывы</a>
					</li>
					<li class="footer__list-item">
						<a class="footer__list-link" href="#">Консультация</a>
					</li>
					<li class="footer__list-item">
						<a class="footer__list-link" href="#">Посадка за 1 день</a>
					</li>

				</ul>
			</div>
			<div class="footer-item phone__box">
				<a class="footer__phone" href="#">Заказать звонок</a>
				<a class="footer__tel" href="0975655611">8 (097) 565-56-11</a>
			</div>
		</div>


	</div>
</footer>